/* Media Queries */
@media only screen and (max-width: 768px) {
  .menu {
      display: none;
  }

  .hamburger-menu {
      display: block;
  }

  nav {
      justify-content: flex-end;
  }

  .dropdown-content {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
  }

  .dropdown-content a {
      display: block;
      padding: 12px 16px;
      text-decoration: none;
      color: black;
  }

 
  .dropdown:hover .dropdown-content {
      display: block;
  }

  main {
      padding: 20px 10px;
      display: flex;
      flex-direction: column;
  }

  .text-container, .text-container1 {
    padding: 10px; /* Reduce padding for smaller screens */
    flex: 0 1 auto; 
    word-wrap: break-word;
  }

  .main-image-container {
      width: 100%;
      max-width: 100%;
      order: 1;
  }

  .lefthalf,
  .righthalf {
      width: 100%;
      max-width: 100%;
      order: 2;
  }
  
  

  .info-box {
      width: 100%; /* Ensure the info-box spans the full width */
  }
}

@media screen and (max-width: 480px) {
  h1 {
      font-size: 1.5rem; /* Adjust font size for smaller screens */
  }

  button {
      padding: 10px; /* Adjust padding for buttons */
  }

  .text-container,.text-container1  {
      font-size: 5px; /* Decrease font size for smaller screens */
  }
}
